<div *ngIf="noti == 'no_course_for_register'; else dkthi" class="noti">
  KÌ THI CHO BẠN KHÔNG CÓ SẴN, VUI LÒNG KIỂM TRA LẠI...
</div>
<ng-template #dkthi>
  <div class="container-component">
    <mat-toolbar>
      <mat-toolbar-row>
        <span class="example-spacer"></span>
        <input type="text" class="input-basic-kithi" [style.width]="'30%'"
          placeholder="Tìm kiếm theo tên học phần hoặc mã học phần..." autofocus [(ngModel)]="textSearch"
          (input)="searchCourse()" autofocus />
      </mat-toolbar-row>
    </mat-toolbar>
    <ngx-datatable #table class="material" [rows]="rows" [columns]="cols" [columnMode]="'force'" [headerHeight]="50"
      [scrollbarV]="true" [scrollbarH]="true" [footerHeight]="50" [rowHeight]="50"
      [sorts]="[{ prop: 'active', dir: 'asc' }]">
    </ngx-datatable>
  </div>
</ng-template>
<ng-template #checkbox let-row="row" let-value="value" let-i="i">
  <mat-checkbox color="primary" [(ngModel)]="row.selected"

  (click)="onSelect($event, row)"></mat-checkbox>
</ng-template>
<ng-template #time let-row="row" let-value="value" let-i="i" title="Thời gian thi">
  {{value}} - {{row.session.date*1000 | date: 'dd/MM/y'}} - {{row.session.duration}}'
</ng-template>
<ng-template #lengthView let-row="row" let-value="value" let-i="i" title="Số máy đã được đăng kí / tổng số máy">
  {{row.room.booked}}/{{row.room.length}}
</ng-template>
<ngx-spinner bdOpacity=0.9 bdColor="rgba(255,255,255,0.66)" size="medium" color="#4964ff" type="ball-scale-multiple"
  [fullScreen]="true">
</ngx-spinner>
<div class="add" *ngIf="count>0">
  <button (click)="print()" mat-fab class='gradient' title="TẢI/IN PHIẾU DỰ THI" [matBadge]="count" matBadgeColor="warn">
    <i class="material-icons">print</i></button>
</div>
