mat-toolbar {
  background-color: var(--primary-color);
  border-bottom: solid 1px rgba(0, 0, 0, .12);
  position: sticky;
  position: -webkit-sticky;
  /* For macOS/iOS Safari */
  top: 0;
  /* Sets the sticky toolbar to be on top */
  z-index: 1000;
  .mat-toolbar-row {
    padding: 0 4px !important;
  }
}

.user img {
  border-radius: 25px;
  margin-right: 10px;
  margin-bottom: 2px;
}

