.login-form {
  width: 25%;
  margin: 150px auto;
}

mat-form-field {
  width: 100%;
}

.mat-raised-button {
  float: right !important
}

button {
  background: var(--blue-color) !important;
}

.container-component {
  background: url('../../../../assets/images/login.jpg');
  background-size: cover;
}

.reset-pass {
  font-size: 12px;
  cursor: pointer;
  color: #0046da;
}
