<div class="container-component">
  <div class="login-form" [@EnterLeave]="'flyIn'">
    <form (submit)="register(postForm)" ngNativeValidate #postForm="ngForm">
      <mat-card>
        <mat-form-field>
          <input matInput placeholder="Nhập email" type="email" name="email" ngModel required minlength="1" autofocus>
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput placeholder="Nhập username" type="text" name="username" ngModel required minlength="1">
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput placeholder="Nhập Họ Tên Đầy Đủ" type="text" name="fullName" ngModel required minlength="1">
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput placeholder="Nhập Mã Sinh Viên" type="text" name="mssv" ngModel required minlength="1">
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput type="password" placeholder="Nhập mật khẩu" name="password" ngModel required minlength="1">
        </mat-form-field>
        <!-- <mat-form-field> -->
        <!-- <input matInput type="password" placeholder="Nhập lại mật khẩu" name="password" ngModel required
            minlength="1"> -->
        <!-- </mat-form-field> -->
        <br>
        <span class="example-spacer"></span>

        <button mat-raised-button color="primary" style="margin-left: 10px;" type="submit">ĐĂNG KÍ</button>
        <a [routerLink]="'/login'" mat-raised-button color="warn" type="submit">ĐĂNG NHẬP</a>
      </mat-card>

    </form>
  </div>
</div>
