<div class="add">
  <button mat-fab class='gradient' (click)="importFromExcels()" title="THÊM HỌC PHẦN"><i
      class="material-icons">add</i></button>
</div>
<div class="container-component">
  <!-- <mat-toolbar>
    <mat-toolbar-row>

      <span class="example-spacer"></span>
    </mat-toolbar-row>
  </mat-toolbar> -->
  <ngx-datatable class="material" [rows]="rows" [columns]="columns" [columnMode]="'force'" [headerHeight]="50"
    [scrollbarV]="true" [scrollbarH]="true" [footerHeight]="50" [rowHeight]="50"
    [sorts]="[{ prop: 'ten', dir: 'asc' }]">
    <!-- <ngx-datatable-column name="Company">
          <ng-template let-row="row" ngx-datatable-cell-template>
           <a href="#{{row.company}}"> {{row.company}}</a>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Name">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.name}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Gender">
        </ngx-datatable-column> -->
  </ngx-datatable>
  <ng-template #roleTemplate let-row="row" let-value="value" let-i="index">
    <strong> {{ value }} </strong>
  </ng-template>
</div>
<ngx-spinner bdOpacity=0.9 bdColor="rgba(255,255,255,0.66)" size="medium" color="#4964ff" type="ball-scale-multiple"
  [fullScreen]="true">
  <p style="color: white"> LOADING...</p>
</ngx-spinner>
